<div layout="row" layout-align="center start" layout-padding layout-wrap ng-init="loadScene()">
  <div flex="100" layout>
    <h4>Editar escena</h4>
    <span flex></span>
    <md-button class="md-raised md-warn" ng-click="returnToNovelaIndex(scene.proyecto.id)" ng-disabled="!scene.proyecto.id">Regresar</md-button>
    <md-button class="md-raised md-primary" ng-click="updateChapter(scene)">Guardar</md-button>
  </div>
  <md-input-container flex="100">
    <label>Nombre del proyecto</label>
    <input ng-model="scene.name">
  </md-input-container>
  <div flex="100">
    <textarea ckeditor="editorOptions" ng-model="scene.text"></textarea>
  </div>
</div>