<!DOCTYPE html>
<html>
  <head>
    <title>Book It</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jk-carousel.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/!angular.min.js"></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-messages.min.js"></script>
    <script src="/js/dependencies/angular-sails.min.js"></script>
    <script src="/js/dependencies/angular-table.js"></script>
    <script src="/js/dependencies/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/bangular-material.min.js"></script>
    <script src="/js/dependencies/jk-carousel.min.js"></script>
    <script src="/js/!app.js"></script>
    <script src="/js/services/BackendService.js"></script>
    <script src="/js/services/HelperService.js"></script>
    <script src="/js/controllers/DashboardCtrl.js"></script>
    <script src="/js/controllers/MainCtrl.js"></script>
    <script src="/js/controllers/ToolbarCtrl.js"></script>
    <script src="/js/controllers/UsersCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
