/* MASTER */
::-webkit-scrollbar {
  width: 2px;
}

//Colors
@md-green: rgb(46, 125, 50);

/* Login Container */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
}
.register-container {
  display: flex;
  align-items: center;
}
.login-header {
  background-color: @clr-green;
  margin: 0;
  color: white;
  text-align: center;
}

/* UI VIEW Transitions */
.well[ui-view]{
 height: 65px;
}

.ui-view-container {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

/* Dashboard */
.carousel-container {
  margin: 0;
  padding: 0;
  Height: 87vh;
}
.jk-carousel {
  margin: 0;
  padding: 0;
}
.margin-dash-card {
  margin-right: 0.6em;
}

//Pagination
.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}

.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
  background-color: @clr-orange;
}

.pagination li.disabled a {
  cursor: default;
  color: @clr-deep-orange;
}

.pagination li i {
  font-size: 2rem;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
  .pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.center-pagination {
  text-align: center;
}

.no-padding {
  padding: 0;
}

//Loader Test
.z-loader {
  height: 100vh;
  z-index: 1000;
  position: absolute;
  text-align: center;
  width: 100%;
}

//Dashboard background
.background-dashboard {
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: @md-green;
}

.recent-dashboard {
  z-index: 1;
  padding: 0;
  margin: 1em;
  h4 {
    padding-left: 1em;
  }
}

.z1000 {
  z-index: 1000;
}

.recent-text {
  color: white;
  z-index: 1;
  padding-left: 2em;
  padding-right: 2em;
}

.recent-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.white-button-color {
  * {
    color: white;
  }
}
