<div layout layout-padding>
  <div flex="100">
    <form ng-submit="addNewAct(newChapterName)">
      <div flex="100">
        <h3>Agregar nuevo acto</h3>
        <md-progress-linear md-mode="indeterminate" ng-show="loader"></md-progress-linear>
      </div>
      <div flex="100" class="login-inputs" layout="row" layout-align="center center" layout-wrap layout-padding>
        <md-input-container class="" flex-gt-sm="100" flex-sm="100">
          <label>Nombre</label>
          <input ng-model="newChapterName" type="text">
        </md-input-container>
        <div flex-gt-sm="100" flex-sm="100" layout>
          <span flex></span>
          <md-button class="md-raised md-primary" type="submit" ng-disabled="rootLoader">Añadir</md-button>
          <md-button class="md-raised md-warn" ng-click="closeModal()" ng-disabled="rootLoader">Cerrar</md-button>
        </div>
      </div>
    </form>
  </div>
</div>