<div layout="row" layout-align="center center" layout-padding layout-wrap>
  <div flex="100" class="md-whiteframe-1dp carousel-container margin-dash-card" layout>
    <div flex="100" class="carousel-dashboard">
      <jk-carousel data="sliderPictures" item-template-url="'/templates/aux/dashboard-template.html'" max-width="264" max-height="408" auto-slide="true" auto-slide-time="4000"></jk-carousel>
    </div>
  </div>
</div>



<div layout="row" layout-align="start start" layout-padding>
    <div flex="30">Project 1</div>
    <div flex="30">project 2</div>
    <div flex="30">Project 3</div>
</div>
<div layout="row" layout-align="start start" layout-padding>
    <div flex="30">Project 4</div>
    <div flex="30">project 5</div>
    <div flex="30">Project 6</div>
</div>
