<div class="background-dashboard"></div>
<div layout="row" layout-align="center center" layout-padding layout-wrap>
  <div flex="100" class="z1000 recent-text" layout layout-align="center center">
    <span>Proyectos recientes...</span>
    <span flex></span>
    <md-button class="md-raised md-secondary">Ver todos</md-button>
  </div>
  <div class="md-whiteframe-1dp recent-dashboard" flex="15" ng-repeat="project in proyectosRecientes">
    <img ng-src="{{project.img}}" class="recent-img" alt="Proyecto reciente">
    <h4>{{project.title}}</h4>
  </div>
</div>
