<div class="login-container" layout="row" layout-align="center center" layout-wrap>
  <div flex-sm="95" flex-xs="100" flex-md="40" flex-lg="40" flex-gt-lg="40" class="md-whiteframe-1dp" layout="row" layout-align="center center" layout-wrap>
    <div flex="100" class="login-header">
      <h2>Iniciar Sesión</h2>
    </div>
    <form ng-submit="loginUser(logindata)">
      <div flex="100" class="login-inputs" layout="row" layout-align="center center" layout-wrap layout-padding>
        <div flex="100">
          <md-input-container class="md-block">
            <label>Nombre de usuario</label>
            <input ng-model="logindata.username">
          </md-input-container>
        </div>
        <div flex="100">
          <md-input-container class="md-block">
            <label>Contraseña</label>
            <input ng-model="logindata.password">
          </md-input-container>
        </div>
        <div flex="100" layout>
          <span flex></span>
          <md-button class="md-raised md-primary" type="submit">Iniciar Sesión</md-button>
        </div>
        <div flex="100" layout>
          <a ui-sref="lostpassword" class="md-caption" style="cursor:pointer;color:rgb(133, 133, 133)">Olvidé mi contraseña</a>
          <div flex></div>
          <a ui-sref="register" class="md-caption" style="cursor:pointer;color:rgb(133, 133, 133)">Registro</a>
        </div>
      </div>
    </form>
  </div>
</div>
