<div layout="row" layout-align="center center" layout-padding layout-wrap>
  <div flex-sm="100" flex-gt-sm="40" class="md-whiteframe-1dp" layout layout-wrap layout-padding>
    <div flex="100">
      <md-icon md-svg-icon="account" style="height: 100%;"></md-icon>
      <strong>{{_user.name}}</strong>
    </div>
    <div flex="100">
      <em>Email: </em>{{_user.username}}
    </div>
    <div flex="100">
      <em>Fecha de nacimiento: </em>{{_user.borndate | date:'medium'}}
    </div>
    <div flex="100">
      <em>Edad: </em>{{_user.edad}}
    </div>
    <div flex="100">
      <em>Fecha de registro: </em>{{_user.createdAt | date}}
    </div>
    <div flex="100">
      <em>Última actualización: </em>{{_user.updatedAt | date}}
    </div>
  </div>
</div>