<div class="login-container" layout="row" layout-align="center center" layout-wrap>
  <div flex-sm="95" flex-xs="100" flex-md="40" flex-lg="40" flex-gt-lg="60" class="md-whiteframe-1dp" layout="row" layout-align="center center" layout-wrap>
    <div flex="100" class="login-header">
      <h2>Registrarse</h2>
    </div>
    <form ng-submit="registerUser(registerdata)">
      <div flex="100" class="login-inputs" layout="row" layout-align="center center" layout-wrap layout-padding>
          <div flex="100">
            <md-input-container class="md-block">
              <label>Correo Electrónico</label>
              <input ng-model="registerdata.username" type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Contraseña</label>
              <input ng-model="registerdata.password" type="password">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Confirmar Contraseña</label>
              <input ng-model="registerdata.repassword">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Nombre</label>
              <input ng-model="registerdata.name">
            </md-input-container>
            <label>Fecha de nacimiento</label>
            <md-datepicker ng-model="registerdata.borndate" md-placeholder="Fecha de nacimiento"></md-datepicker>
          </div>
          <div flex="100" layout>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit">Iniciar Sesión</md-button>
          </div>
        <div flex="100" layout>
          <a ui-sref="lostpassword" class="md-caption" style="cursor:pointer;color:rgb(133, 133, 133)">Olvidé mi contraseña</a>
          <div flex></div>
          <a ui-sref="index" class="md-caption" style="cursor:pointer;color:rgb(133, 133, 133)">Iniciar Sesión</a>
        </div>
      </div>
    </form>
  </div>
</div>
